.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.spinner {
  width: 32px;
  height: 32px;
  border: 4px solid #ddd;
  border-top: 4px solid #4f46e5;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 6px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
